
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 185, 167);
}

.quiz-card {
    width: 500px;
    border: solid;
    border-radius: 10px;
    background-color: lightslategray;
}

#questions{
    text-align: center;
    background-color: rgb(120, 210, 240);
}

#answers {
    padding: 20px 10px;
    background-color: rgb(47, 47, 177);
}

#answers ol{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: auto;
    justify-content: space-around;
    list-style: lower-alpha;
    list-style-position: inside;
}

#answers li{
    font-size: larger;
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 10px 5px;
}

button{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    font-weight: bolder;
}

#start-Btn {
    background-color: rgb(131, 194, 215);

}

#next-Btn {
    background-color: rgb(78, 175, 78);
}

.hide {
    display: none;
}